body{
    font-family: "更纱黑体 SC", "Sarasa Gothic CL", Arial, 微软雅黑;
    background:
            linear-gradient(
                    rgba(200, 200, 200, 0.5),
                    rgba(200, 200, 200, 0.5)
            ),url("asset/BG1.png") no-repeat center center fixed;
    background-size: cover;
}
body *::selection{
    background: rgba(72, 85, 100, 0.4);
}

.invisible{
    display: none !important;
}
.error{
    background-color: #ffedea;
    color: #b12a1d;
    border-color: #ffcbc5;
}
.warning{
    background-color: #fffcdd;
    color: #8d4e13;
    border-color: #ffe7c8;
}
.success{
    background-color: #efffd1;
    color: #2b6a20;
    border-color: #baceab;
}
.inform{
    background-color: #d3fff3;
    color: #2a6a66;
    border-color: #a1cece;
}

#MessageOverlay{
    position: fixed;
    left:0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(29,44,64,0.5);
}

#Message {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);

    width: max-content;
    height: fit-content;
    box-sizing: border-box;
    padding:50px;
    font-size: 6vh;
    border-radius: 0.3em;
    border-width: 0.1em;
    border-style: solid;
    text-align: center;
    line-height: 6vh;
    overflow: hidden;
    line-break: strict;
    opacity: 80%;
    box-shadow: 0 2px 10px 0 #303047;
}

#login_button{
    height:100px;
    width:500px;
    font-size: 50px;
    color: #d3e6ff;
    background: #2a2d7b;
    border-radius: 8px;
    opacity: 90%;
    text-align: center;
    vertical-align: baseline;
    line-height: 100px;
    user-select: none;
    cursor: pointer;
    box-shadow: inset 0 -30px 30px -10px rgba(0,0,0,0.3),
    inset 0 30px 30px 0 rgba(46, 70, 92, 0.3),
    inset 0 6px 12px 1px rgba(92, 121, 150, 0.7);
    display: inline-block;
    border:none;
    margin: 20px;
}
#login_button:hover{
    background: #1e2057;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}
#login_button:active{
    background: #111b3a;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}
#LoginForm{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:100px;
    border-radius: 12px;
    box-shadow: 0 3px 10px 0 #6e778b;
    background:
            repeating-linear-gradient(
                    -45deg,
                    rgba(252, 242, 213, 0.7),
                    rgba(252, 242, 213, 0.7) 100px,
                    rgba(234, 224, 195, 0.7) 100px,
                    rgba(234, 224, 195, 0.7) 200px
            );
}
#LoginForm h1{
    font-size: 80px;
    margin-top:-20px;
    line-height: 80px;
    color:#111b3a;
    opacity: 80%;
}
#LoginForm input{
    font-family: "更纱黑体 SC", "Sarasa Gothic CL", Arial, 微软雅黑;
    font-size: 50px;
    line-height: 80px;
    height: 80px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width:500px;
    box-sizing: border-box;
    margin: 20px;
    border:3px solid;
    border-radius: 8px;
    border-color: #111b3a;
    background: rgba(200,200,200,1);
    opacity: 70%;
}
#username::placeholder{
    color: saddlebrown;
}
#password::placeholder{
    color: #6e778b;
}
#LoginForm input:active,#LoginForm input:focus{
    border-color: #0040bc;
}
#LoginForm input:hover{
    border-color: #16679b;
}

.TabsList{
    height: 40px;
    font-size: 0px;
    line-height: 34px;
}
.Tab{
    position: relative;
    box-sizing: border-box;
    height: 40px;
    font-size:20px;
    border: none;
    border-radius:5px 5px 0 0;
    margin-left: 4px;
    transition: 0.1s ease;
}
.Tab.selected{
    border-color: #0f3169;
    background: #0f3169;
    color:#d3e6ff;
    font-weight:900;
    box-shadow: inset 0 10px 20px -10px #d3e6ff44;
}
.Tab::before{
    content: "";
    position: absolute;
    border-radius:5px 5px 0 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.Tab.selected::before{
    box-shadow: 0 2px 4px #2c3e50;
}
.Tab.unselected{
    border-color: #ffe7c8;
    background: #ffe7c8;
}
.Tab.unselected:hover{
    border-color: #ebd6ba;
    background: #ebd6ba;
}
.TabsPage{
    position: relative;
    height: calc(100vh - 70px);
    border: 1px solid #0f3169;
    border-radius: 5px;
    background: #ffe7c855;
    width: max-content;
}
.TabsPage::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px #2c3e50;
    z-index: -1;
}

/***
 * Admin list stuffs
 */

#AdminList{
    padding:4px;
    width: max-content;
    height: 100%;
}
#AdminList .admin{
    padding-left: 4px;
    padding-right: 4px;
    margin-left: -4px;
    margin-right: -4px;
    font-size: 0px;
    transition: 0.1s ease;
}
#AdminList .admin span,#AdminList .admin input{
    line-height: 30px;
    font-size: 20px;
    vertical-align: top;
    height: 30px;
    width: 200px;
    display: inline-block;
    line-break: strict;
    overflow: hidden;
    transition: 0.1s ease;
    border:none;
    background: transparent;
    margin: 0;
    padding: 0;
}

#AdminList .admin > *:hover{
    background: #6e778b33;
}
#AdminList .admin .id{
    width: 50px;
    margin-left:-4px;
    padding-left: 4px;
}
#AdminList .admin .name{
    width: 100px;
}
#AdminList .admin .phone{
    width: 180px;
}
#AdminList .admin .email{
    width: 250px;
}
#AdminList .admin .stuid{
    width: 170px;
}
#AdminList .admin button{
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 3px;
    line-height: 26px;
    padding: 0px;
    vertical-align: baseline;
    margin-top:2px;
    font-size: 15px;
    transition: 0.1s ease;
}
button.add,button.select{
    background: #2a2d7b;
    color: #ffe7c8;
}
button.delete{
    background: #7b191d;
    color: #ffe0db;
}
button.show{
    background: #466305;
    color: #eeffd6;
    font-size: 20px !important;
}
button.hide{
    background: #594409;
    color: #fffeda;
    font-size: 20px !important;
}
button:focus{
    outline: none;
}
#AdminList .admin.header{
    font-weight: 900;
    background: #ffe7c833;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    margin-left:-4px;
    margin-right: -4px;
    margin-top: -4px;
    border-radius: 5px 5px 0 0;
}
#AdminList .admin.header:hover{
    font-weight: 900;
    background: #ffe7c866;
}
#AdminList .admin:hover{
    background: #6e778b33;
}

#StatusWindow{
    position: fixed;
    width:300px;
    height:120px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #2a2d7b55;
    background: #2c3e5055;
    top:10px;
    right:10px;
    padding:0px;
    transition: 0.15s ease-in;
}
#StatusWindow.winHide{
    right:-270px;
}
#StatusWindow > span{
    display: inline-block;
}
#StatusWindow > button{
    display: inline-block;
}
#StatusWindow .toggleButton{
    height: 120px;
    width:30px;
    left:0px;
    margin: 0px;
    line-height: 120px;
    transition: 0.1s ease;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 30px;
    background: transparent;
}
#StatusWindow .toggleButton:hover{
    background: #111b3a33;
}

/**
 * Password changer
 */

.PasswordChange{
    font-size:0;
    vertical-align: top;
}
.PasswordChange>*{
    font-size: 20px;
    line-height: 40px;
    vertical-align: top;
}
.PasswordChange input{
    display: inline-block;
    border-radius: 5px 0 0 5px;
    margin: 0px;
    height: 36px;
    width: 210px;
    background: #6e778b33;
    border: 1px solid #1e2a57;
    transition: 0.1s ease;
}
.PasswordChange input:focus{
    outline:none;
    border-color: #2d3091;
    background: #ffe7c833;
    box-shadow: 0 0 2px 0 #0040bc;
}
.PasswordChange input.clear{
    background: #6e778b33;
    border: 1px solid #660b0e;
    transition: 0.1s ease;
}
.PasswordChange input.clear:focus{
    outline:none;
    border-color: #7d1415;
    background: #ffe7c833;
    box-shadow: 0 0 2px 0 #bc666a;
}
.PasswordChange input::placeholder{
    font-size: 20px;
    color: #111b3a;
}
.PasswordChange button{
    margin: 0px;
    display: inline-block;
    border-radius: 0 5px 5px 0;
    background: #1e2a57;
    color:#ffe7c8;
    border:none;
    font-weight: 900;
    font-size: 20px;
    height: 40px;
    width: 40px;
    transition: 0.1s ease;
    line-height: 34px;
}
.PasswordChange button:hover{
    background: #122d66;
    box-shadow: 0 0 2px 0 #0040bc;
}
.PasswordChange button:active{
    background: #071852;
}
.PasswordChange button.clear{
    background: #660b0e;
}
.PasswordChange button.clear:hover{
    background: #7d1415;
    box-shadow: 0 0 2px 0 #bc666a;
}
.PasswordChange button.clear:active{
    background: #520912;
}
.ImageCount{
    height: 40px;
    width: 260px;
    margin-bottom: 20px;
}
.ImageCounter{
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    width: 260px;
    color: #111b3a;
    opacity: 100%;
    transition: 0.1s ease;
}
.ImageCounter .cc{
    color: #074813;
    font-weight: 900;
}
.ImageClearer{
    top:-40px;
    position: relative;
    transition: 0.1s ease;
    opacity: 0;
}
.ImageClearer:Hover{
    opacity: 100%;
}
.transparent{
    opacity: 0;
}
.opaque{
    opacity: 100%;
}
/**
 * filters
 */
.filterButton{
    display: inline-block;
    border:1px solid #0040bc;
    font-size: 18px;
    padding: 2px 5px 2px 2px;
    margin:2px;
    height:26px;
    line-height: 26px;
    border-radius: 3px;
    background: #d3ebeb;
    transition: 0.1s ease;
}
.filterButton.expanded{
    background: #ffe7c8;
    border: 1px solid #c4863b;
}
/**
 * Do checker styling
 */
.filterButton.checker{
    background: #fff0e6;
    border: 1px solid #c44e27;
}
.filterButton.checker.expanded{
    background: #f0ffe5;
    border: 1px solid #0f510c;
}
.filterButton.checker .filterController{
    background: #c44e27;
}
.filterButton.checker .filterController:hover{
    background: #9f240c;
}
.filterButton.checker.expanded .filterController{
    background: #0f510c;
}
.filterButton.checker.expanded .filterController:hover{
    background: #0d460a;
}

.filterController{
    border:none;
    margin: -2px 2px -2px -2px;
    border-radius: 2px 0 0 2px;
    height: 30px;
    width: 30px;
    line-height: 26px;
    vertical-align: top;
    color: #ffe7c8;
    font-size: 20px;
    font-weight: 900;
    background: #0040bc;
    transition: 0.1s ease;
}
.filterController:hover{
    background: #003789;
}
.filterButton.expanded .filterController{
    background: #c4863b;
}
.filterButton.expanded .filterController:hover{
    background: #91591d;
}
.filterButton input[type="time"]{
    font-size: 18px;
    font-family: "更纱黑体 SC", "Sarasa Gothic CL", Arial, 微软雅黑;
    height:24px;
    line-height: 26px;
    border:1px solid #0040bc;
    background: #d3e6ff33;
    border-radius: 0 3px 3px 0;
}
.filterButton input[type="date"]{
    width: 160px;
    font-size: 18px;
    font-family: "更纱黑体 SC", "Sarasa Gothic CL", Arial, 微软雅黑;
    height:24px;
    line-height: 26px;
    border:1px solid #0040bc;
    background: #d3e6ff33;
    border-radius: 3px 0 0 3px;
    margin-right: -1px;
}
.checkergreen{
    color: #086418;
    text-shadow: 0 0 2px #7ac97b;
}

/**
 * Activity thingy
 */
.refresh{
    border:none;
    border-radius: 3px;
    height: 32px;
    width: 32px;
    line-height: 26px;
    font-size: 20px;
    vertical-align: top;
    background: #2a2d7b;
    color: #ffe7c8;
    margin:2px;
    transition: 0.1s ease;
}

.refresh:hover{
    background: #0f124d;
}

#ActivityList{height: 100%;font-size: 0;}

#ActivityList .Activities{
    max-width: 860px;
    display: inline-block;
}
#ActivityList .Activities .activity.header{
    font-weight: 900;
    background: #ffe7c833;
}
#ActivityList .activity > span,#ActivityList .activity > input{
    line-height: 30px;
    font-size: 20px;
    vertical-align: top;
    height: 30px;
    width: 200px;
    display: inline-block;
    line-break: strict;
    overflow: hidden;
    transition: 0.1s ease;
    border:none;
    background: transparent;
    margin: 0;
    padding: 0;
}
#ActivityList .Activities .activity > *:hover{
    background: #6e778b33;
}
#ActivityList .Activities .id{
    width: 50px;
    padding-left: 4px;
    background: rgba(255, 238, 217, 0.2);
}
#ActivityList .Activities .name{
    width: 200px;
}
#ActivityList .Activities .loca{
    width: 150px;
    background: rgba(255, 238, 217, 0.2);
}
#ActivityList .Activities .date{
    width: 180px;
}
#ActivityList .Activities .start{
    width: 120px;
    background: rgba(255, 238, 217, 0.2);
}
#ActivityList .Activities .end{
    width: 120px;
}
#ActivityList .activity:hover{
    background: #6e778b33;
}

#ActivityList .Activities .activity button{
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 3px;
    line-height: 26px;
    vertical-align: baseline;
    margin: 0;
    margin-top:2px;
    margin-right: 4px;
    font-size: 15px;
    transition: 0.1s ease;
}
#ActivityList .Activities .activity.selected{
    background: #eeffd655;
    box-shadow: -2px 0 2px #0f3169;
}
.ActivityDetail{
    padding-left: 10px;
    background: #eeffd655;
    height: 100%;
    box-shadow: 0px 0 2px #0f3169;
    display: inline-block;
    vertical-align: top;
    overflow:hidden;
    border-radius: 0 5px 5px 0;
    width: 425px;
}
.ActivityDetail h1{
    font-size: 30px;
    line-break: loose;
}
.ActivityDetail h2{
    font-size: 20px;
}
/**
 * Activity detail
 */
.ActivityDetail .timeSlot{
    padding: 2px;
    margin-left: -10px;
    vertical-align: top;
    line-height: 20px;
}
.ActivityDetail .timeSlot input{
    line-height: 30px;
    font-size: 20px;
    vertical-align: top;
    height: 30px;
    width: 200px;
    display: inline-block;
    line-break: strict;
    overflow: hidden;
    transition: 0.1s ease;
    border:none;
    background: transparent;
    margin: 0;
    padding: 0;
}
.ActivityDetail .timeSlot input:hover,.ActivityDetail .timeSlot:hover{
    background: #6e778b33;
}
.ActivityDetail .timeSlot:nth-child(odd){
    background: rgba(217, 186, 139, 0.4);
}
.ActivityDetail .timeSlot:nth-child(odd):hover{
    background: rgba(186, 154, 112, 0.4);
}

.ActivityDetail .timeSlot button{
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 3px;
    line-height: 26px;
    padding: 0px;
    vertical-align: baseline;
    margin-top:2px;
    font-size: 15px;
    transition: 0.1s ease;
}

.ActivityDetail .timeSlot.tempor{
    background: #a1cece66;
}

.ActivityDetail .timeSlotEditor button{
    padding: 8px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    line-height: 20px;
    margin-top:4px;
    transition: 0.1s ease;
}
.ActivityDetail .timeSlotEditor button.slotSort{
    color: #ffffff;
    margin-top: 6px;
    font-weight: 900;
}
.slotSort{
    background: #a9563b;
}
.slotSort:hover{
    background: #b6613d;
}
.slotSort:active{
    background: #a14a28;
}
.timeSlotEditor input,.ActivityDetail .slotSplit{
    line-height: 20px;
    font-size: 20px;
    height: 40px;
    margin-top: 4px;
    vertical-align: top;
    box-sizing: border-box;
    border:none;
}
.ActivityDetail .timeSlotEditor input{
    background: #ffe7c855;
    border: 1px #0f3169 solid;
    border-radius: 3px 0 0 3px;
    width: 60px;
}
.ActivityDetail .timeSlotEditor input:focus{
    background: #ffe7c877;
    border: 1px #103376 solid;
    outline: none;
    box-shadow: 0 0 1px #a1cece44;
}

.ActivityDetail .timeSlotEditor button.slotSplit{
    border-radius: 0 3px 3px 0;
    color: #ffffff;
    font-weight: 900;
}

.slotSplit{
    background: #0f3169;
}
.slotSplit:hover{
    background: #143a74;
}
.slotSplit:active{
    background: #0d2241;
}

.actions button{
    margin:4px;
    font-size: 20px;
    padding: 8px;
    border-radius: 3px;
    border:none;
    transition: 0.1s ease;
    font-weight: 900;
    color: #ffffff;
    box-shadow: inset 0 2px 4px -1px rgba(43, 43, 35, 0.47);
}
.timeSlot button{
    transition: 0.1s ease;
    box-shadow: inset 0 2px 4px -1px rgba(43, 43, 35, 0.47);
}
.actions{
    margin-left: -4px;
}
.actions button:hover,.timeSlot button:hover{
    box-shadow: inset 0 2px 4px -1px #f1f1ea77;
}
.actions button:active,.timeSlot button:active{
    box-shadow: inset 0 -2px 4px -1px rgba(43, 43, 35, 0.7);
}
.slotSubmit{
    background: #0d460a;
}
.QRCodeReq{
    background: #391263;
}
